/Application.class
/Bug.class
/Crater.class
/DemoCapabilities.class
/Floor.class
/KickAction.class
/LockedDoor.class
/MartianItem.class
/Player.class
/SpitBehaviour.class
/Stick.class
/Wall.class
/WindowSmashAction.class
